:root {
  --bg-color: #ffffff;
  --text-color: #1b1b1b;
  --border-color: #999;
  --pad: 20px;
  --input-height: 44px;
  --radius: 8px;
  --card-bg: #ffffff;
  --muted: #6b7280;
}

:root[data-theme='cunard'] {
  --color-primary: #8b0000;
}

:root[data-theme='holland'] {
  --color-primary: #003d6f;
}

:root[data-theme='princess'] {
  --color-primary: #0066b2;
}

:root[data-theme='seabourn'] {
  --color-primary: #E3CE66;
}

body {
  font-family: "Inter", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  line-height: 1.6;
  margin: 0;
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 16px 32px;
  border-bottom: 1px solid rgba(15, 23, 42, 0.04);
  backdrop-filter: blur(2px);
}

header.brand {
  background-blend-mode: overlay;
  color: #fff;
  flex-wrap: wrap
}

header .brand-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 160px;
  height: 40px;
  border-radius: 6px;
}

.mt-22px {
  margin-top: 22px;
}

#langFlagDiv img {
  width: 50px;
  height: 30px;
  object-fit: cover;
  border-radius: 4px;
}

p{
  margin: 0;
}

.main-container-div {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.basic-details-div {
  min-width: 300px;
  padding: 10px;
  border-radius: 8px;
  background: #f7fafd;
  position: relative;
  height: fit-content;
}

.basic-details-div .short-row {
  margin-bottom: 0px;
}

.basic-details-div .short-row .field {
  justify-items: center;
  align-content: center;
}

.basic-details-div .short-row .field:not(:last-child) {
  border-right: 1px solid #ddd;
}

#updateInfoButton{ 
  position: absolute;    
  top: 10px;
  right: 10px;
  height: max-content;
  padding: 4px;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}

.section-wise-details-div{ 
  flex: 1;
}

.field {
  position: relative;
}

.field>p {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  color: black;  
}

.field>p>span {
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  color: var(--muted);
}

.field>label {
  display: block;
  margin-top: 12px;
  font-weight: 500;
  font-size: 13px;
  color: var(--muted);
  position: absolute;
  top: -22px;
  left: 22px;
  background-color: white;
  padding: 0 4px;
}

.checkbox-group label, .radio-group label {
  margin: 0;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=datetime-local],
select,
textarea {
  width: 100%;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #999;
  font-size: 15px;
  height: var(--input-height);
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--color-primary);
  box-shadow: 0 0 0 4px rgba(11, 102, 253, 0.08);
}

textarea {
  min-height: 100px;
  resize: vertical;
}

.auth-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  padding: 2px;
}

.auth-icon.check {
  background-color: #10b981;
  color: var(--color-primary);
  text-align: center;
  align-content: center;
}

.auth-icon.cross {
  background-color: #ef4444;
  color: #ccd5e4;
  text-align: center;
}
.auth-icon.check svg, .auth-icon.cross svg{
  font-size: 16px;
}

.header-controls {
  display: flex;
  gap: 12px;
  align-items: center
}

main {
  padding: var(--pad)
}

.auth-chip-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.auth-chip {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.06);
  padding: 8px 12px;
  border-radius: 18px;
  font-size: 14px;
}

.short-row {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 24px 16px;
  margin-bottom: 16px;
}

.radio-group, .checkbox-group {
  display: flex;
  gap: 8px;
}

.sms-auth-toggle-group p {
  cursor: pointer;
}

.sms-auth-toggle-group p input[type="checkbox"] {
  display: none;
}

.sms-auth-type {
    width: 80px;
    height: 80px;
    position: relative;
}

.sms-auth-type img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.sms-auth-type img:nth-child(2) {
    display: none; /* hide red by default */
}

.sms-auth-type.active img:nth-child(1) {
    display: none; /* hide green */
}

.sms-auth-type.active img:nth-child(2) {
    display: inline; 
}

.controls {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  background: #e8f0f6;
  border-top: 3px solid;
}

.controls .footer-note {
  padding-right: 12px;
  font-size: 13px;
  color: var(--muted);
  flex:1
}

button.btn-cancel, button.btn-next, button.cxone-close  {
  padding: 16px 12px;
  background: #fff;
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

button.btn-cancel:hover, button.btn-next:hover {
  color: #fff;
}

/* cxone tabs */

.cxone-tabs {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 18px;
}

.cxone-tab {
  background: #f7fafd;
  border-radius: 12px;
  padding: 16px 12px;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.2s, box-shadow 0.2s;
  min-width: 90px;
  align-content: center;
  box-shadow: 0 8px 28px rgba(15, 23, 42, 0.08);
}

.cxone-tab-icon {
  margin-bottom: 6px;
}

.cxone-tab-icon img {
    width: -webkit-fill-available;
    border-radius: 8px;
    object-fit:contain;
    height:100px;
}

.cxone-tab-title {
  font-weight: 600;
}

.cxone-tab-desc {
  font-size: 0.92rem;
  color: var(--muted);
}

.cxone-form-area {
  margin: 28px 0;
}
.cxone-form-panel {
  position: relative;
}

.cxone-textarea {
  width: 100%;
  padding: 14px 12px;
}

/* cxone tabs */


/* intent satisfied start */

.thumb-group {
  display: flex;
  gap: 1rem;
}

.thumb {
  font-size: 2rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.2s ease;
  user-select: none;
}

.thumb.selected[data-value="yes"] {
  color: #22c55e;
  opacity: 1;
  transform: scale(1.2);
}

.thumb.selected[data-value="no"] {
  color: #ef4444;
  opacity: 1;
  transform: scale(1.2);
}

.thumb:hover {
  opacity: 0.9;
}

/* intent satisfied end */

/* wrong user start */

#wrongUserField {
  position: absolute;
  right: 20px;
}

.cross-mark {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 30px;
  height: 30px;
  background: #ff3b3b;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  transition: scale .5s ease-in-out;
}

.user-img-wrapper.wrong .cross-mark {
    scale: 1;
}

.user-img-wrapper.wrong .user-img {
    opacity: .8;
}

/* wrong user end */


.star-rating {
  display: inline-block;
  position: absolute;
  right: 20px;
}

.loyalty-silver-star {
  font-size: 25px;
  color: silver;
  animation: zoom-circle-in 1s linear 0s  normal, glitter 2s infinite;
}

.loyalty-gold-star {
  font-size: 25px;
  color: gold;
  animation: zoom-circle-in 1s linear 0s  normal, glitter 2s infinite;
}

.loyalty-platinum-star {
  font-size: 25px;
  color: #115500;
  animation: zoom-circle-in 1s linear 0s  normal, glitter 2s infinite;
}

@keyframes zoom-circle-in {
  0% {
    -webkit-transform: scale(0.1) rotate(0deg);
    opacity: 0;
  }
  25% {
    -webkit-transform: scale(.3) rotate(120deg);
    opacity: .3;
  }
  50% {
    -webkit-transform: scale(0.7) rotate(240deg);
    opacity: .7;
  }
  100% {
    -webkit-transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

#phoneTypeDiv img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(1);
  animation: pulse 2s infinite;
}

.phoneTypeFieldDiv {
  display: flex;
  gap: 20px;
}

#phoneTypeField img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  transform: scale(1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: drop-shadow(0 0 2px var(--color-primary));
  }
  50% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 12px var(--color-primary));
  }
  100% {
    transform: scale(1);
    filter: drop-shadow(0 0 2px var(--color-primary));
  }
}

.tab-details-chip {
  display: inline-block;
  margin-bottom: 32px;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

/* modal styles */
.cxone-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(3px);
}

.cxone-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#cxoneModalTitle{
  margin: 0;
  font-size: 1.5rem;
}

.cxone-modal-content {
  background: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 1rem;
  width: 50%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  animation: fadeInUp 0.3s ease;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(300px); }
  to { opacity: 1; transform: translateY(0); }
}

.cxone-close {
  color: #666;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  padding: 8px 12px;
  background: #fff;
  border-radius: 4px;
  text-transform: uppercase;
}

.cxone-close:hover {
  color: #000;
}

/* modal styles */


/* searchable autocomplete multi-select dropdown start */

.select-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.select-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 6px;
  cursor: text;
}

.select-box input {
  border: none;
  outline: none;
  flex: 1;
  min-width: 100px;
  padding: 6px;
}

.option-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 200px;
  overflow-y: auto;
  display: none;
}

.option-item {
  padding: 8px 10px;
  cursor: pointer;
}

.option-item:hover {
  background: #f0f0f0;
}

.tag {
  color: white;
  border-radius: 12px;
  padding: 3px 8px;
  margin: 2px;
  display: flex;
  align-items: center;
}

.tag i {
  margin-left: 5px;
  cursor: pointer;
}

/* searchable autocomplete multi-select dropdown end */


/* searchable autocomplete single-select dropdown start */

.custom-select {
  position: relative;
  width: 100%;
}

.custom-select input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.options-list {
  position: absolute;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 10;
  display: none;
}

/* searchable autocomplete single-select dropdown end */

@media (max-width:1200px) {
  .cxone-tabs {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width:900px) {
  .header-controls {
    flex-wrap: wrap;
    gap: 10px
  }

  .short-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .basic-details-div .short-row .field {
    border-right: none !important;
  }
  .basic-details-div .short-row .field:first-child {
    border-right: 1px solid #ddd !important;
  }

  .cxone-tabs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  
  .cxone-modal-content {
    width: 80%;    
  }
}

@media (max-width:760px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px
  }

  .header-controls {
    width: 100%;
    display: flex;
    justify-content: space-between
  }

  .controls {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between
  } 
  
  .cxone-tabs {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .short-row {
    grid-template-columns: 1fr
  }

  .basic-details-div .short-row .field:first-child {
    border-right: none !important;
  }
  .basic-details-div .short-row .field:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  
  .cxone-modal {
    align-content: center;
  }
}

@media (max-width:520px) {
  header {
    padding: 12px 14px;
  }

  .brand-logo {
    width: 120px;
    height: 32px
  }

  .controls {
    gap: 8px;
    padding: 10px;
  }

  .cxone-tabs {
    grid-template-columns: 1fr;
  }
}

@media (max-width:480px) {
  .header-controls {
    justify-content: end
  }

  .controls .control-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px
  }
}
